/* Mobile */
@media screen and (max-width: 991px) {
  body .bodywidth {
    padding: 0rem;
  }
  p,
  li {
    margin: 0;
    padding: 0.2rem 0.17rem 1.5rem 0.17rem !important;
  }
  .p_grid {
    padding: 0;
  }
  h5 {
    padding: 0.2rem 0.17rem 1.5rem 0.17rem !important;
  }
  h6 {
    padding: 0.7rem 0 0 0;
  }

  .topnav {
    display: none;
    /* visibility: hidden; */
  }
  .bottomnav {
    padding: 1rem;
  }
  .bottomnav-brand {
    display: contents;
    color: white;
  }
  .fnfpaJ .dropdown_nav {
    padding: 4px 24px;
  }

}

/* General */
p,
li {
  font-size: 15px;
}
h3 {
  margin: 2rem 0 0.5rem 0;
}
h5 {
  padding: 0 2rem;
}
h6 {
  line-height: 2rem;
  /* margin: 0 0 1rem 0; */
}
p {
  line-height: 1.5rem;
  padding: 0 2rem;
}
.bodywidth {
  padding: 0 4rem;
}

/* Jumbotron Text Start */
h1 {
  letter-spacing: 0.18rem;
  font-size: 3rem;
}

/* About the Clinic */
#mission {
  padding: 1rem;
  /* border-left-style: solid; */
  /* border-right-style: solid; */
  border-width: 0.07rem;
  border-color: #e0dedc;
  margin: 3.5rem 0;
}
#mission h6 {
  margin: 1.5rem 0 0 0;
  padding: 0;
}

